jmdict-eng-3.6.2.json filter=lfs diff=lfs merge=lfs -text
kanjiapi_full.json filter=lfs diff=lfs merge=lfs -text
study_items.json filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
